.App {
  width: max-content;
  margin: 20px auto 0;
}

.form-group{
  background-color: #f6f6f6;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-group label{
  font-size: 1.1rem;
  color : #aaaaaa;
  margin-right: 15px;
  width: 100px;
  text-align: center;
}

.form-group input {
  padding: 10px;
  width: 220px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

#formDetailTitle{
  text-align: center;
  margin-bottom: 30px;
}

.itemTitle{
  padding: 5px 20px;
  width: 80px;
  text-align: center;
}

.input-group{
  height: 90px;
}

.errores{
  margin: 0;
}